extends layout

block content
  h1= title

  h2 Teams

  table(border=1)
    tr
      th Verbo Http
      th URL
      th Body
    tr
      td GET
      td http://localhost:3000/team
      td N/A
    tr
      td GET
      td http://localhost:3000/team/:member
      td N/A

  h2 Students

  table(border=1)
    tr
      th Verbo Http
      th URL
      th Body
    tr
      td GET
      td http://localhost:3000/students
      td N/A
    tr
      td POST
      td http://localhost:3000/students
      td
        pre {"student": {"id": 206350804, "first_name": "Grace", "last_name": "Morales"} }
    tr
      td PUT/PATCH
      td http://localhost:3000/students/:id
      td
        pre {"student": {"first_name": "Grace", "last_name": "Morales"} }
    tr
      td DELETE
      td http://localhost:3000/students/:id
      td N/A

  h2 Notes

  table(border=1)
    tr
      th Verbo Http
      th URL
      th Body
    tr
      td GET
      td http://localhost:3000/notes
      td N/A
    tr
      td POST
      td http://localhost:3000/notes/:student_id
      td
        pre {"note":{ "value": 100 } }
    tr
      td PUT/PATCH
      td http://localhost:3000/notes/:student_id
      td
        pre {"note":{ "value": 95 } }
